body{
    background-color: rgb(252, 194, 5);
}

.card{
    background-color: white;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 7px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.card:hover{
    transform: scale(1.05, 1.05);
    transition: 0.2s;
}

.user-image{
    width: 35%;
    border-radius: 50%;  
}


.btn{
    /* background-color: rgb(49, 255, 2); */
    background-color: black;
    color: white;
    padding: 0.5rem 2rem;
    position: relative;
    bottom: 1.5rem;
    border-radius: 17px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
}

.btn:hover{
    background-color: #333333;
    /* color: rgb(49, 255, 2); */
    color: white;
    /* border-inline-start: 3px solid black;
    border-inline-end: 3px solid black; */
    
}

.card-container{
    /*background-color: rgb(68, 67, 67);*/
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 0rem;
    padding: 0rem 4rem;

    /* flex-wrap: wrap; */
}

h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 1rem; 
}

